.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url(https://images.pexels.com/photos/594452/pexels-photo-594452.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 110px;
    padding-right: 110px;
    background-image: url(https://images.pexels.com/photos/594452/pexels-photo-594452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }
}
