@use '../../components/variable' as *;

.title {
  text-align: center;
  font-family: $font-famile;
  color: $light-color;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.button {
  background-color: $light-color;
  color: $text-color;
  margin-top: 30px;
}
