@use '../variable' as *;

.container {
  display: flex;
  align-items: center;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-family: $font-famile;
  font-weight: 400;
  font-size: 18px;
  color: $light-color;
}

.activeLink {
  color: $main-color;
}
.text {
  margin-right: 15px;
  color: $main-color;
  font-family: $font-famile;
  font-weight: 900;
  font-size: 18px;
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  font-size: 20px;
  margin-left: 10px;
  text-align: center;
}
.button {
  background-color: $main-color;
  color: $text-color;
}
