.container {
  display: flex;
  align-items: center;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #696969;
}

.activeLink {
  color: #c0c0c0;
}
.text {
  margin-right: 15px;
  font-weight: 700;
  color: #696969;
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  font-size: 20px;
  margin-left: 10px;
  text-align: center;
}
.button {
  background-color: #696969;
  color: #fff;
}
